<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderliu.mapper.SysRoleMapper">


    <select id="listRolesByUserId" resultType="cn.coderliu.model.SysRole">

        SELECT r.id,
               r.role_name,
               r.role_key,
               r.role_sort,
               r.data_scope,
               r.del_flag,
               r.create_time,
               r.update_time,
               r.update_by,
               r.create_by
        FROM sys_role r,
             sys_user_role ur
        WHERE r.id = ur.role_id
          and r.del_flag = 0
          and ur.user_id = #{userId}
    </select>
</mapper>

