<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderliu.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="cn.coderliu.vo.UserVO">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="phone" property="phone"/>
        <result column="avatar" property="avatar"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="udel_flag" property="delFlag"/>
        <result column="dept_id" property="deptId"/>
        <result column="dept_name" property="deptName"/>
        <collection property="roleList" ofType="cn.coderliu.model.SysRole"
                    select="cn.coderliu.mapper.SysRoleMapper.listRolesByUserId" column="id">
        </collection>
        <collection property="postList" ofType="cn.coderliu.model.SysPost"
                    select="cn.coderliu.mapper.SysPostMapper.listPostsByUserId" column="id">
        </collection>
    </resultMap>

    <select id="getUserWithRolePage" resultMap="baseResultMap">
        SELECT
        a.id,
        user_name,
        a.phone,
        avatar,
        dept_id,
        a.create_time,
        a.update_time,
        a.del_flag,
        a.`status`,
        b.dept_name
        FROM
        sys_user a
        LEFT JOIN sys_dept b ON b.id = a.dept_id
        <where>
            a.del_flag = '0'
            <if test="username != null and username != ''">
                and a.user_name LIKE concat('%', #{username}, '%')
            </if>
        </where>
        ORDER BY a.create_time DESC

    </select>
</mapper>

