package cn.hbky.vo;


<#list cfg.importList as i>
    ${i}
</#list>
import lombok.*;
import lombok.experimental.Accessors;


/**
 * ${cfg.table.comment}
 * @author ${author}
 * @since ${date}
 */

@Data
@Builder
@Accessors(chain = true)
@NoArgsConstructor
@AllArgsConstructor
public class ${cfg.entityName}Vo {
    <#list cfg.fields as field>
    /**
     * ${field.comment}
     */
    private ${field.propertyType} ${field.propertyName};
    </#list>
}
